<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.schoolcard.dao.WebborrowMapper" >
  <resultMap id="BaseResultMap" type="wcmc.schoolcard.dto.Webborrow" >
    <result column="READERID" property="readerid" jdbcType="VARCHAR" />
    <result column="BOOKID" property="bookid" jdbcType="VARCHAR" />
    <result column="SJ" property="sj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    READERID, BOOKID, SJ
  </sql>
  <select id="selectByReaderId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM WEBBORROW WHERE READERID = #{readerid}
  </select>
  <insert id="insert" parameterType="wcmc.schoolcard.dto.Webborrow" >
    insert into WEBBORROW (READERID, BOOKID, SJ
      )
    values (#{readerid,jdbcType=VARCHAR}, #{bookid,jdbcType=VARCHAR}, #{sj,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="wcmc.schoolcard.dto.Webborrow" >
    insert into WEBBORROW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="readerid != null" >
        READERID,
      </if>
      <if test="bookid != null" >
        BOOKID,
      </if>
      <if test="sj != null" >
        SJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="readerid != null" >
        #{readerid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>