<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wcmc.schoolcard.dao.WebyktlsMapper" >
  <resultMap id="BaseResultMap" type="wcmc.schoolcard.dto.Webyktls" >
    <result column="XGH" property="xgh" jdbcType="VARCHAR" />
    <result column="SJJYE" property="sjjye" jdbcType="DECIMAL" />
    <result column="JYSJ" property="jysj" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getYktlsByStartAndEnd" resultMap="BaseResultMap" >
  	<![CDATA[SELECT * FROM WEBYKTLS WHRER XGH = #{xh,jdbcType=VARCHAR} AND TO_NUMBER(SUBSTR(JYSJ,0,8)) < #{end,jdbcType=INTEGER} AND TO_NUMBER(SUBSTR(JYSJ,0,8)) > #{start,jdbcType=INTEGER} ]]>  
  </select>
  <select id="selectByXH" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT * FROM WEBYKTLS WHERE XGH = #{0}
  </select>
  <select id="selectByXy" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT * FROM WEBYKTLS WHERE XGH IN (SELECT XH FROM WEBXS WHERE YXSHMC = #{0})
  </select>
  <select id="selectByMonth" resultType="java.util.HashMap" parameterType="java.lang.String">
  	SELECT SUBSTR(JYSJ,0,6) AS TIME, SUM(SJJYE) AS TOTAL FROM WEBYKTLS WHERE XGH IN (SELECT XH FROM WEBXS WHERE YXSHMC = #{0}) GROUP BY SUBSTR(JYSJ,0,6)
  </select>
  <select id="selectByDay" resultType="java.util.HashMap" parameterType="java.lang.String">
  	SELECT SUBSTR(JYSJ,0,8) AS TIME, SUM(SJJYE) AS TOTAL FROM WEBYKTLS WHERE XGH IN (SELECT XH FROM WEBXS WHERE YXSHMC = #{0}) GROUP BY SUBSTR(JYSJ,0,8)
  </select>
</mapper>