<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wcmc.schoolcard.dao.WebztcMapper">
  <resultMap id="BaseResultMap" type="wcmc.schoolcard.dto.Webztc">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ZTC" jdbcType="VARCHAR" property="ztc" />
    <result column="NUMS" jdbcType="DECIMAL" property="nums" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ZTC, NUMS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WEBZTC
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from WEBZTC
    where ID = #{id,jdbcType=DECIMAL}
  </delete>

  <select id="selectAll" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from WEBZTC
  </select>
  <!--<select id="selectAllHashMap" resultMap="ZtcMap">-->
    <!--select-->
    <!--ID,ZTC-->
    <!--<include refid="Base_Column_List" />-->
    <!--from WEBZTC-->
  <!--</select>-->
</mapper>